sharding:
  clusterRole: configsvr

replication:
  replSetName: {{item.csrs_name}}

security:
  keyFile: /home/ubuntu/mongodb/pki/ankit

net:
  bindIp: {{PRI_IP_ADD | quote }},localhost
  port: {{item.csrs_port}}

systemLog:
  destination: file
  path: /home/ubuntu/mongodb/db/{{item.csrs_name}}.log
  logAppend: true

processManagement:
  fork: true

storage:
  dbPath: /home/ubuntu/mongodb/db/{{item.csrs_name}}